{{>  head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>DeathStinger</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis esse saepe, reprehenderit aperiam aut quos? Alias ea ducimus voluptate ratione velit, aliquid quo consequuntur at possimus, iusto rem, consequatur saepe.</p>
        </div>

        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/zoid.jpg" alt="Imagen prueba">
        </div>
    </div>

{{> footer}}